body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

.btn-sniper {
    margin: 5px;
}

.super_table li input,
button {
    vertical-align: middle;
}

.super_table li {
    display: table-cell;
    height: 40px;
    line-height: 40px;
    padding-right: 5px;
}

.super_table {
    width: 100%;
    display: table-row;
    list-style: none;
}
