<div class="jumbotron" style="margin-bottom: 5px; padding-bottom: 5px;">
    <h1 class="display-4">百度ｍ端挖词工具</h1>
    <p class="lead">Subtitle</p>
    <p class="lead">Subtitle１</p>
</div>
<ul id="mainMenu" class="nav nav-tabs">
    <% menu.forEach(ele => { %>
    <li class="<%= ele.active %>"><a href="<%- ele.url %>"><%= ele.name; %></a></li>    
    <% }); %>
</ul>