<div class="jumbotron" style="margin-bottom: 5px; padding-bottom: 5px;">
    <h1 class="display-4">百度ｍ端挖词工具</h1>
    <p class="lead">Subtitle</p>
    <p class="lead">Subtitle１</p>
</div>
<ul id="mainMenu" class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab">面板</a></li>
    <li><a href="#main_keywords" data-toggle="tab">主词管理</a></li>
    <li><a href="#includ_keywords" data-toggle="tab">包含词管理</a></li>
    <li><a href="#filter_keywords" data-toggle="tab">过滤词管理</a></li>
</ul>