<!DOCTYPE html>
<html>
<% include ./partials/head %>

<body class="fkw_page">
    <div class="container" style="margin-top: -49px;">
        <% include ./partials/header %>

        <h1>hello i'm main keywords page...</h1>

    </div>
</body>
<% include ./partials/footer %>

</html>